@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
    background-color: wheat;
   
   
};

#corkboard-background {
  background-image: url('../images/corkboard-background.jpg');
  // background-repeat: no-repeat;
  background-size: cover; 
  height: 100vh;
  width: 100vw; 

}

h1 {
  background-color: snow;
  color: darkgray;
  padding: 20px;
  text-align: center;
  margin-right: 40%;
  margin-left: 40%;
  padding-top:3%;
  box-shadow: 3px 12px 8px #292828;

};
